{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form method="post" action="/logs/add">
                <div class="mb-3">
                    <label class="form-label">Book</label>
                    <select name="book_id" id="book_select" required class="form-select">
                        {% for book in books %}
                            <option value="{{ book.id }}" data-last-page="{{ book.last_read_page or 1 }}">{{ book.name }}, {{ book.author }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">Page Start</label>
                    <input type="number" name="page_start" id="page_start" required class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Page End</label>
                    <input type="number" name="page_end" required class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Add Log</button>
            </form>
        </div>
        <div class="col">
            <form method="post" action="/books/add">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" name="book_name" required class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Author</label>
                    <input type="text" name="author" required class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Page count</label>
                    <input type="number" name="page_count" required class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Add book</button>
            </form>
        </div>
    </div>
</div>

<hr>

<!-- Display logs -->
{% if logs %}
    <h3>Reading Logs</h3>
    <table class="table">
        <tr>
            <th>Book</th>
            <th>Start Page</th>
            <th>End Page</th>
            <th>Date</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.book.name }}</td>
            <td>{{ log.page_start }}</td>
            <td>{{ log.page_end }}</td>
            <td>{{ log.created_at }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No logs yet.</p>
{% endif %}

{% if books %}
    <h3>Books</h3>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Bookmark</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.last_read_page }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

<script>
    const bookSelect = document.getElementById("book_select")
    const pageStartInput = document.getElementById("page_start")

    function updatePageStart() {
        const selectedOption = bookSelect.options[bookSelect.selectedIndex]
        const lastPage = selectedOption.dataset.lastPage
        pageStartInput.value = lastPage
    }

    updatePageStart()

    bookSelect.addEventListener("change", updatePageStart)
</script>

{% endblock %}
